.container {
  /* background-color: rgb(250, 252, 253); */
  /* Transparent background */
  opacity: 0.9;
  margin-top: 20px;
  margin-bottom: 20px;
  /* Set min height to fill larger screens */
  min-height: 800px;
}

.imgRnd10 {
  /* Rounded image corners */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.imageShadow {
  /* Add drop shadow */
  -webkit-box-shadow: 2px 2px 3px 2px gray;
  -moz-box-shadow: 2px 2px 3px 2px gray;
  box-shadow: 2px 2px 3px 2px gray;
}

.card {
  margin: 20px;
  background-color: lightgray;
  width: 90%;
  color: black;
}

.articleImg {
  margin: 15px 0px 0px 25px;
  width: 180px;
}

.btn {
  margin-right: 7px;
}